{% extends "base.html" %}

{% block titulo %}
    🐷Cadastro - Cofrinho🐷
{% endblock titulo %}



{% block conteudo %}
    <div class="container">
        <h1>Cadastro - Cofrinho</h1>
        <p>ou <a href="{% url 'login' %}">fazer login!</a></p>
    </div>

    {% if messages %}
    <div class="messages">
        <ul class="messages-list">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="container">
        <form action="{% url 'cadastro' %}" method="POST" class="formulario" autocomplete="off">
             {% csrf_token %}
            <input type="text" name="login" id="login" placeholder="Login" required>
            <input type="email" name="email" id="email" placeholder="E-mail" autofocus required>
            <input type="password" name="senha" id="senha" placeholder="Super Senha" required>
            <input type="password" name="senha1" id="senha1" placeholder="Confirmar Super Senha" required>
            <input type="submit" value="Cadastrar - Vem meu amigo!">
        </form>
    </div>

{% endblock conteudo %}