{% extends "base.html" %}

{% block titulo %}
    🐷Login - Cofrinho🐷
{% endblock titulo %}



{% block conteudo %}
    <div class="container">
        <h1>Login - Cofrinho</h1>
        <p>ou <a href="{% url 'cadastro' %}">fazer cadastro!</a></p>
    </div>

    {% if messages %}
    <div class="messages">
        <ul class="messages-list">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="container">
        <form action="{% url 'login' %}" method="POST" class="formulario">
            {% csrf_token %}
            <input type="text" name="login" id="login" placeholder="Login" autofocus required>
            <input type="password" name="senha" id="senha" placeholder="Super Senha" required>
            <input type="submit" value="Acessar seu cofrinho!">
        </form>
    </div>

{% endblock conteudo %}